<div class="w-64 bg-gray-800 text-white flex flex-col h-full">
  <div class="text-center text-[37px] font-[900] tertiary-font bg-gradient-to-r from-blue-400 via-purple-500 to-pink-500 bg-clip-text text-transparent">
    CancerCare
  </div>

  <ul class="space-y-4 flex-grow p-4">
    <%= link_to admin_users_dashboard_index_path do %>
      <li class="block text-white rounded p-3 <%= current_page?(admin_users_dashboard_index_path) ? 'bg-gray-700' : '' %> hover:bg-gray-700">
        <i class="fas fa-tachometer-alt mr-3"></i>
        <span>Dashboard</span>
      </li>
    <% end %>
    <%= link_to admin_users_feedbacks_path do %>
      <li class="block text-white rounded p-3 <%= current_page?(admin_users_feedbacks_path) || controller_name == 'feedbacks' ? 'bg-gray-700' : '' %> hover:bg-gray-700">
        <i class="fas fa-comment-alt mr-3"></i>
        <span>Feed Back</span>
      </li>
    <% end %>
    <%= link_to admin_users_medical_records_path do %>
      <li class="block text-white rounded p-3 <%= current_page?(admin_users_medical_records_path) ? 'bg-gray-700' : '' %> hover:bg-gray-700">
        <i class="fas fa-clipboard-list mr-3"></i>
        <span>Medical Record</span>
      </li>
    <% end %>
    <%= link_to admin_users_post_articles_path do %>
      <li class="block text-white rounded p-3 <%= current_page?(admin_users_post_articles_path) || controller_name == 'post_articles' ? 'bg-gray-700' : '' %> hover:bg-gray-700">
        <i class="fas fa-file-alt mr-3"></i>
        <span>Post Article</span>
      </li>
    <% end %>
    <%= link_to admin_users_users_path do %>
      <li class="block text-white rounded p-3 <%= current_page?(admin_users_users_path) || controller_name == 'users' ? 'bg-gray-700' : '' %> hover:bg-gray-700">
        <i class="fas fa-user mr-3"></i>
        <span>User</span>
      </li>
    <% end %>
  </ul>
  <li class="block text-white rounded p-3 hover:bg-gray-700 text-center">
    <%= button_to destroy_admin_user_session_path, method: :delete do %>
      <i class="fa fa-arrow-right-from-bracket mr-3"></i>
      <span>Sign out</span>
    <% end %>
  </li>
</div>
